---
# Proxmox Role - Handlers

- name: Restart pveproxy
  ansible.builtin.systemd:
    name: pveproxy
    state: restarted

- name: Restart pvedaemon
  ansible.builtin.systemd:
    name: pvedaemon
    state: restarted

- name: Restart networking
  ansible.builtin.service:
    name: networking
    state: restarted

- name: Restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted
